$burger = {
	width: 20px
	height: 20px
	stripeHeight: 4px
	extraClickArea: 15px
}
$burger.stripePadding = (($burger.height - $burger.stripeHeight * 3) / 2)

.burger
	z-index: layers.burger
	position: fixed
	cursor: pointer
	padding: $burger.extraClickArea
	-webkit-appearance: none
	border: none
	background: none

	body.is-header-overlay-active &
		span
			background none

			&::before
			&::after
				background-color: colors.white
				transition-delay: .3s, .3s, 0s

			&::before
				top 0
				transform rotate(45deg)

			&::after
				bottom 0
				transform rotate(-45deg)

.burger__slices
	display: block
	transition: transform .3s ease
	will-change: transform
	size($burger.width, $burger.height)
	text-indent: -9999px
	font-size: 0

	span
		display: block
		position: absolute
		size(100%, $burger.stripeHeight)
		top: ($burger.height / 2 - $burger.stripeHeight / 2)
		left: 0
		background: colors.black
		transition: background-color .3s ease

		&::before
		&::after
			content: ''
			display: block
			position: absolute
			left: 0
			size(100%, $burger.stripeHeight)
			background-color: colors.black
			transition-duration: .3s, .3s, .3s
			transition-delay: 0s, .3s, .3s

		&::before
			top: -($burger.stripeHeight + $burger.stripePadding)
			transition-property: background-color, transform, top

		&::after
			bottom: -($burger.stripeHeight + $burger.stripePadding)
			transition-property: background-color, transform, bottom
