{
  "presets": [
    ["env", {
      "modules": false,
      "loose": true
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": true,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    ["external-helpers"]
  ]
}
