root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = auto
insert_final_newline = auto

[*.{php,html}]
indent_style = tab
indent_size = 2

[*.{styl,css,scss,sass,less}]
indent_style = tab
indent_size = 2

[*.txt]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false
