/** Let's get out colors */
@require "../config/collections"

/** Imports WPDL from node_modules */
@require "wpdls"

/** WPDLS Style object override. Must be named 'wpdls'. */
wpdl = {
	dashboard: {
		// font: 'Arial'
		background: colors.white
		navigation: colors.black
		submenu: darken(colors.gray, 50%)
		text: colors.white
		highlight: colors.gray
		notification: colors.gray
		link: colors.gray

		button: {
			background: colors.black
			color: colors.white
		}
	}

	login: {
		color: colors.white
		background: {
			color: colors.black
			// image: '../images/path-to-img.jpg'
			size: cover
		}

		/** Custom logo - Optional, can be deleted */
		logo: {
			// image: '../images/login-logo.png'
			width: 145px
			height: 145px
		}

		/** Custom login alert - Optional, can be deleted  */
		alert: {
			background: colors.white
			color: colors.black
			link: colors.white
		}

		/** Custom button - Optional, can be deleted  */
		button: {
			background: colors.black
			color: colors.white
		}

		/** Custom form - Optional, can be deleted  */
		form: {
			background: colors.white
			color: colors.black
			borderRadius: 5px
			// padding: 0
			input: {
				background: colors.white
				color: colors.black
			}
		}
	}
}

/** Builds the dashboard/login CSS */
buildWPDL()

/** Your custom CSS begins here */

/** Hides ACF menu items */
#toplevel_page_edit-post_type-acf-field-group
	/** Hides 'add new', 'field groups' and 'tools' */
	li:nth-of-type(n+2):nth-of-type(-n+4)
		display: none

	/** Adds warning message to submenu */
	.wp-submenu
		&::after
			display: block
			padding: 6px 12px
			content: 'Other ACF menu items hidden by the active theme'
			font-size: 10px
			color: colors.red

/** Hides new ACF fields related dashboard items */
body.post-type-acf-field-group
	/** Hides 'add new field on admin dashboard' */
	.page-title-action
	.subsubsub
		display: none

	/** Writes warning message above acf fields listing */
	#posts-filter
		position: relative
		border: none
		box-shadow: none
		&::before
			content: 'When using the Selene theme, ACF Fields are configured in the source code. Check the ".../themes/selene/app/fields" directory.'
			box-sizing: border-box
			position: absolute
			top: 0
			left: 0
			size(100%)
			z-index: 2
			background: colors.white
			color: colors.red
			font-weight: bold
