/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

 /** Media alignment */
.alignnone
	margin-left: 0
	margin-right: 0
	max-width: 100%
	height: auto
	display: block

.aligncenter
	display: block
	margin-left: auto
	margin-right: auto
	text-align: center

+above(sm)
	.alignleft
	.content-image .alignleft.wp-caption
		float: left
		margin-right: .5rem

	.alignright
	.content-image .alignright.wp-caption
		float: right
		margin-left: .5rem
		text-align: right

/** Captions */
.wp-caption
	max-width: 100%
	text-align: center

	br
		display: none

.wp-caption-text
	margin: rem(10px) rem(30px) 0
	font-size: rem(16px)
