/** WPDLS Style object override. Must be named 'wpdls'. */
wpdls = {
	dashboard: {
		/** Dashboard font */
		// font: 'Arial'

		/** Dashboard background */
		background: colors.white

		/** Generic text color */
		text: colors.black

		/** Links color */
		link: darken(colors.gray, 20%)

		/** Admin bar & sidebar text color */
		menuText: colors.white

		/** Admin bar & sidebar background color */
		navigation: colors.black

		/** Sidebar sub-menu background color */
		submenu: darken(colors.gray, 10%)

		/** Sidebar sub-menu hover/active page color */
		highlight: colors.gray

		/** Notification dot color */
		notification: colors.gray

		/** Generic button colors */
		button: {
			background: colors.black
			color: colors.white
		}
	}

	login: {
		color: colors.white
		background: {
			color: colors.black
			// image: '../images/path-to-img.jpg'
			size: cover
		}

		/** Custom logo - Optional, can be deleted */
		logo: {
			// image: '../images/login-logo.png'
			width: 145px
			height: 145px
		}

		/** Custom login alert - Optional, can be deleted  */
		alert: {
			background: colors.white
			color: colors.black
			link: colors.white
		}

		/** Custom button - Optional, can be deleted  */
		button: {
			background: colors.black
			color: colors.white
		}

		/** Custom form - Optional, can be deleted  */
		form: {
			background: colors.white
			color: colors.black
			borderRadius: 5px
			// padding: 0
			input: {
				background: colors.white
				color: colors.black
			}
		}
	}
}
