/** Let's get out colors */
@require '../../config/collections'

/** Imports WPDL from node_modules */
@require 'wpdls'

/** WPDLS Style object override. Must be named 'wpdls'. */
@require './config'

/** Builds the dashboard/login CSS */
buildWPDLS()

/** Your custom CSS begins here */
@require './custom/*'
