// Colors
colors = {
	pink: #850047
	purple: #93648d
	green: #7bc8a4
	blue: #4cc3d9
	yellow: #ffc65d
	red: #f16745
	brown: #664f36
	white: whitesmoke
	gray: #404040
	black: #242629
}

// Fonts
fonts = {
	main: 'Arial, sans-serif'
}

// Margins
margins = {

}

// layers - Better control of your z-indexes
layers = {

}
