// Mixin shortcuts
max = to-width
min = from-width

// size(width, height)
size($width, $height = $width, $cache = false)
  if($cache)
    +cache('w' + $width)
      width: $width
    +cache('h' + $height)
      height: $height
  else
    width: $width
    height: $height

// rem(px [,base-font-size]), em(px [,base-font-size])
rem($px, $base = phase.baseFontSize)
  return unit($px / $base, "rem")

em($px, $base = phase.baseFontSize)
  return unit($px / $base, "em")

// Font-face mixin, by jackbrewer
// https://github.com/jackbrewer/stylus-mixins/
font-face($font-name, $file-path, $weight = 'normal', $style = 'normal')
  $url-fallback = 'url("' + $file-path + '.eot")'
  $url  = 'url("' + $file-path + '.eot?#iefix") format("embedded-opentype"), '
  $url = $url + 'url("' + $file-path + '.woff") format("woff"), '
  $url = $url + 'url("' + $file-path + '.ttf") format("truetype"), '
  $url = $url + 'url("' + $file-path + '.svg#svg' + replace(' ', '', $font-name) + '") format("svg")'
  @font-face
    font-family: $font-name
    src: unquote($url-fallback)
    src: unquote($url)
    font-weight: unquote($weight)
    font-style: unquote($style)
