/* size(width, height) */
size(w, h = w)
	width w
	height h

/* rem(px [,base-font-size]), em(px [,base-font-size]) */

rem(px, base = phase.baseFontSize)
	return unit(px / base, "rem")

em(px, base = phase.baseFontSize)
	return unit(px / base, "em")

/* Mixin shortcuts */
max = below
min = above
