$login-bg-color = login.background.color or whitesmoke
$login-bg-img = 'url(%s)' % login.background.image
$login-bg-size = login.background.size
$login-color = login.color or black
$roaming-link = invIfSimilar(login.color, $login-bg-color)
$roaming-link-hover = mix($roaming-link, $login-bg-color, 80%)

// Login page
body.login
	display: flex
	align-content: center
	color: $login-color
	background-color: $login-bg-color
	background-image: unquote($login-bg-img)
	background-size: $login-bg-size
	background-position: 50%
	font-family: fonts.main
	font-weight: 500
	
.login #nav
.login #backtoblog
	a
		color: $roaming-link
		&:hover
			color: $roaming-link-hover
			text-decoration: underline !important

if login.logo
	$login-logo-url = login.logo.url or 'https://s.w.org/about/images/logos/wordpress-logo-notext-rgb.png'
	$login-logo-width = login.logo.width or 120px
	$login-logo-height = login.logo.height or 120px
	#login
		padding: 0
		h1
			width: 100%
			margin: 0 auto

			a
				width: 100%
				if login.logo != null
					height: $login-logo-height
					background-image: url($login-logo-url)
					background-size: $login-logo-width auto

if login.alert
	$login-alert-background = login.alert.background or whitesmoke
	$login-alert-text = invIfSimilar(login.alert.color or black, $login-alert-background)
	$login-alert-link = invIfSimilar(login.alert.link or black, $login-alert-background)
	
	.login .message
	.login #login_error
		background-color: $login-alert-background
		color: $login-alert-text
		a
			color: $login-alert-link

if login.button
	$login-form-button-background = login.button.background or #0085ba
	$login-form-button-color = login.button.color or #fff
	#wp-submit
		button($login-form-button-background, $login-form-button-color)
		
if login.form
	$login-form-background = login.form.background or whitesmoke
	$login-form-color = login.form.color or black
	$login-form-padding = login.form.padding != null ? login.form.padding : 26px
	$login-form-border-radius = login.form.borderRadius or 0
	
	.login
		#nav
		#backtoblog
			padding: 0 $login-form-padding 0
				
		label
			font-family: fonts.main
			color: $login-form-color
			font-weight: 300
			text-transform: uppercase
	
	#loginform
		border-radius: $login-form-border-radius
		background: $login-form-background
		padding: $login-form-padding
		box-shadow: none
		
		
	if login.form.input
		$login-form-input-background = login.form.input.background or whitesmoke
		$login-form-input-color = invIfSimilar(login.form.input.color or black, $login-form-input-background)
		.login
			form
				input
					&[type="text"]
					&[type="password"]
						background-color: $login-form-input-background
						color: $login-form-input-color
					
					&[type="checkbox"]
						background-color: $login-form-input-background
						box-shadow: inset 0 0 2px rgba( $login-form-input-color, 0.4 )
						border-color: $login-form-input-background
							
						&:checked
							&::before
								color: $login-form-input-color
					
					&:focus
						box-shadow: inset 0 0 2px rgba( $login-form-input-color, 0.4 )

/* Auth lightbox */
.interim-login #login
	margin: 30px auto
