/* Links */
a
	color: $link
	&:hover,
	&:active,
	&:focus
		color: $link-focus
	
#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover
	color: $link-focus
