// Colors
colors = {
	/* Must-have color names (used on admin styles) */
	black: #242629
	white: whitesmoke
	gray: #404040
	red: #f16745
	/* End of must-have color names */
	pink: #850047
	purple: #93648d
	green: #7bc8a4
	blue: #4cc3d9
	yellow: #ffc65d
	brown: #664f36
}

// Fonts
fonts = {
	main: 'Arial, sans-serif'
}

// Margins
margins = {
	burger: 35px
}

// layers - Better control of your z-indexes
layers = {
	burger: 5
	overlay: 4
}
