/** Rolleiflex configuration */
rolleiflex.baseFontSize = app.base.fontSize
rolleiflex.autoBorderBox = false
rolleiflex.use.em = false
rolleiflex.spaces = {
  gutter: 24px
  containerPadding: 12px
}
rolleiflex.build = {
  container: true
  grid:      true
  helpers:   true
}
rolleiflex.breakpoints = app.breakpoints

/** Get list of breakpoints */
$scalesList = ()
for scaleName, scaleOpts in app.breakpoints
  push($scalesList, max(scaleOpts.minWidth - 1, 0))

/** Ruputure configuration */
rupture = merge(rupture, {
  base-font-size:        app.base.fontSize
  scale:                 $scalesList
  scale-names:           keys(app.breakpoints)
  anti-overlap:          true
  enable-em-breakpoints: rolleiflex.use.em
  mobile-cutoff:         app.breakpoints.sm.minWidth - 1
  tablet-cutoff:         app.breakpoints.md.minWidth - 1
  desktop-cutoff:        app.breakpoints.md.minWidth - 1
  hd-cutoff:             app.breakpoints.lg.minWidth - 1
})
