// app parameters
app = {
	baseFontSize: 16px       // Website's default font-size
	siteWidth: 1170px        // Website's container largest width
	buildCSS: {
		admin: true // Should build the admin css (styles/wordpress/admin/config.styl)
		login: true // Should build the login css (styles/wordpress/login/config.styl)
	}
}
