admin = {
	// font: 'Arial'
	background: colors.white
	navigation: colors.black
	submenu: darken(colors.black, 50%)
	text: colors.white
	highlight: colors.gray
	notification: colors.gray
	link: colors.gray
		
	button: {
		background: colors.black
		color: colors.white
	}
}
