admin = {
	// font: 'Roboto'
	background: colors.white
	navigation: colors.black
	submenu: colors.black
	text: colors.white
	highlight: darken(colors.gray, 15%)
	notification: #d54e21
	link: #0073aa
		
	button: {
		background: #008ec2
		color: colors.white
	}
}
