/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu
	background: $menu-background
	
#adminmenu a
	color: $menu-text
	
#adminmenu div.wp-menu-image:before
	color: $menu-icon

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus
	color: $menu-highlight-text
	background-color: $menu-highlight-background

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before
	color: $menu-highlight-icon

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu
	background: $menu-submenu-background

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after
	border-right-color: $menu-submenu-background

#adminmenu .wp-submenu .wp-submenu-head
	color: $menu-submenu-text
	
#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a
	color: $menu-submenu-text
	&:focus
	&:hover
		color: $menu-submenu-focus-text

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a
	color: $menu-submenu-current-text
	&:hover
	&:focus
		color: $menu-submenu-focus-text
		
ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after
	border-right-color: $body-background
	
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top
	color: $menu-current-text
	background: $menu-current-background
	
#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
.ie8 #adminmenu li.opensub div.wp-menu-image:before
	color: $menu-current-icon

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins
	color: $menu-bubble-text
	background: $menu-bubble-background

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins
	color: $menu-bubble-current-text
	background: $menu-bubble-current-background

/* Admin Menu: collapse button */
#collapse-button
	color: $menu-collapse-text

#collapse-button:hover,
#collapse-button:focus
	color: $menu-submenu-focus-text
