// Since we force an admin style, let's hide the admin theme selection area
.user-admin-color-wrap
	> td
		position: relative
		
		fieldset
			display: none
		
		&::before
			content: 'Admin CSS is controlled by the active theme. Check the "selene/assets/styles/wordpress/admin.styl" file.'
			display: block
			size(100%)
