/* Pointers */
.wp-pointer .wp-pointer-content h3
	background-color: $highlight-color
	border-color: darken($highlight-color, 5%)

.wp-pointer .wp-pointer-content h3:before
	color: $highlight-color

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner
	border-bottom-color: $highlight-color
