/* List tables */
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus
	color: $menu-text
	background-color: $menu-background

.view-switch a.current:before
	color: $menu-background

.view-switch a:hover:before
	color: $menu-bubble-background
