// Constants
$default-color-transition = all .1s ease-in-out

// Variables setup
$body-background = admin.background
$text-color = admin.text
$base-color = admin.navigation

$link-color = admin.link
$link-focus-color = lighten($link-color, 15%)

$highlight-color = admin.highlight
$highlight-text = invIfSimilar($text-color, $highlight-color)

$notification-color = admin.notification

$submenu-background = admin.submenu || makeContrast($base-color, 10%)

$button-background-color = admin.button.background
$button-text-color = invIfSimilar(admin.button.color, $button-background-color)

$icon-color = hsl(hue($base-color), 7%, 95%)
$form-checked-color = invIfSimilar($link-color, #fff)

// Admin menu & Admin bar
$menu-background = $base-color
$menu-highlight-text-opacity = .75
$menu-text = invIfSimilar($text-color, $menu-background)
$menu-icon = invIfSimilar($icon-color, $menu-background)

$menu-highlight-background = $highlight-color
$menu-highlight-text = invIfSimilar($text-color, $menu-highlight-background)
$menu-highlight-icon = invIfSimilar($text-color, $menu-highlight-background)

$menu-current-background = $menu-highlight-background
$menu-current-text = invIfSimilar($menu-highlight-text, $menu-current-background)
$menu-current-icon = invIfSimilar($menu-highlight-icon, $menu-current-background)

$menu-submenu-background = makeContrast($submenu-background, 10%)
$menu-submenu-background-alt = desaturate(lighten($menu-background, 7%), 7%)

$menu-submenu-text = invIfSimilar($text-color, $menu-submenu-background)
$menu-submenu-highlight-icon = $menu-submenu-text
$menu-submenu-focus-text = $menu-submenu-highlight-icon
$menu-submenu-current-text = $menu-submenu-focus-text

$menu-bubble-background = $notification-color
$menu-bubble-text = invIfSimilar($text-color, $menu-bubble-background)
$menu-bubble-current-background = invIfSimilar($base-color, $menu-highlight-background)
$menu-bubble-current-text = invIfSimilar($text-color, $menu-bubble-current-background)

$menu-collapse-text = $menu-icon
$menu-collapse-icon = $menu-icon
$menu-collapse-focus-text = $text-color
$menu-collapse-focus-icon = $menu-highlight-icon

$adminbar-avatar-frame = lighten($menu-background, 7%)
$adminbar-input-background = lighten($menu-background, 7%)

$menu-customizer-text = mix($base-color, $text-color, 40%)
