/* Core UI */
body
	background: $body-background
	font-family: admin.font or unquote('-apple-system,BlinkMacSystemFont,Helvetica Neue,sans-serif')
	
.wp-core-ui
	.button-primary
		button($button-background-color, $button-text-color)
		
	.wp-ui-primary
		color: $text-color
		background-color: $base-color
		
	.wp-ui-text-primary
		color: $base-color
		
	.wp-ui-highlight
		color: $menu-highlight-text
		background-color: $menu-highlight-background
		
	.wp-ui-text-highlight
		color: $menu-highlight-background
		
	.wp-ui-notification
		color: $menu-bubble-text
		background-color: $menu-bubble-background
		
	.wp-ui-text-notification
		color: $menu-bubble-background
		
	.wp-ui-text-icon
		color: $menu-icon
