/* Forms */
input[type=checkbox]:checked:before
	color: $form-checked
	
input[type=radio]:checked:before
	background: $form-checked
	
.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active
	color: $link-focus
