/* Media */
.media-item .bar,
.media-progress-bar div
	background-color: $highlight-color
	
.details.attachment
	box-shadow: inset 0 0 0 3px white, inset 0 0 0 7px $highlight-color
	
.attachment.details .check
	background-color: $highlight-color
	box-shadow: 0 0 0 1px white, 0 0 0 2px $highlight-color
	
.media-selection .attachment.selection.details .thumbnail
	box-shadow: 0px 0px 0px 1px white, 0px 0px 0px 3px $highlight-color
