/* Widgets */
.widgets-chooser li.widgets-chooser-selected
	background-color: $menu-highlight-background
	color: $menu-highlight-text
	
.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before
	color: $menu-highlight-text
