/* Custom login screen - Optional, can be deleted */
login = {
	background: colors.white
	color: colors.black
	
	/* Custom logo - Optional, can be deleted */
	logo: {
		url: 'https://s.w.org/about/images/logos/wordpress-logo-notext-rgb.png'
		width: 120px
		height: 120px
	}
	
	/* Custom login alert - Optional, can be deleted  */
	alert: {
		background: colors.white
		color: colors.black
		link: colors.white
	}
	
	/* Custom button - Optional, can be deleted  */
	button: {
		background: #008ec2
		color: colors.white
	}
	
	/* Custom form - Optional, can be deleted  */
	form: {
		background: colors.black
		color: colors.white
		// padding: 0
		input: {
			background: colors.white
			color: colors.black
		}
	}
}
